@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Singleton: @ViewBag.Singleton</p>
    <p>Scoped: @ViewBag.Scoped</p>
    <p>Transient: @ViewBag.Transient</p>

    <hr/>

    <p>Service Singleton: @ViewBag.ServiceSingleton</p>
    <p>Service Scoped: @ViewBag.ServiceScoped</p>
    <p>Service Transient: @ViewBag.ServiceTransient</p>
</div>
